{% include header.html %}

<main{% if page.slug %} class="{{ page.slug }}"{% elsif page.title %} class="{{ page.title | slugify }}"{% endif %} role="main">

  <div class="single-column blog-index">
		<section class="search">
			<h2>Explore the blog</h2>
			<p>I've been writing about web development since 2012. To date, there are
      <strong>{{ site.posts | size }} posts</strong> ranging from Elixir and
      Ruby on Rails to Linux server configuration. If you're interested in a
      particular topic, check out the <a href="{{ '/tags' | prepend:
      site.baseurl }}">tags section</a> or search for a topic below:</p>
			<div class="search__container">
				<input class="search__input" id="search-text" name="search" placeholder="Search the blog" type="text">
				<input class="search__button" id="search-button" name="google-search-name" type="submit" value="Search">
			</div>
			<gcse:searchresults-only gname="searchOnlyCSE" linktarget="_parent"
      resultsUrl="{{ '/blog' | prepend: site.baseurl }}" queryParameterName="q"></gcse:searchresults-only>
		</section>
    <section class="summary">
      <ul class="summary__list summary-list">
        {% for post in paginator.posts %}
        <li class="summary-list__item">
          <header class="summary-list__header">
            <a href="{{ post.url }}">
              <h2 class="summary-list__title">{{ post.title }}</h2>
            </a>

            {% if post.tags %}
            <p class="summary-list__categories">{{ post.tags | join: ', ' }}</p>
            {% endif %}

            {% if post.description %}
            <h3 class="summary-list__description">{{ post.description }}</h3>
            {% endif %}
            
            <p class="summary-list__date">{{ post.date | date: "%B %d, %Y" }}</p>

          </header>
          <p class="summary-list__excerpt">
            {{ post.content | strip_html | truncatewords: 50 }}
          </p>

          <a class="summary-list__more-link" href="{{ post.url }}">Read more</a>
        </li>
        {% endfor %}
      </ul> 
    </section>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.next_page %}
      <div class="pagination__link">
        <a class="pagination__link--previous"
           href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          &larr; Previous page
        </a>
      </div>
      {% endif %}

      {% if paginator.previous_page %}
      <div class="pagination__link">
        <a class="pagination__link--next"
           href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          Next page &rarr;
        </a>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>

  
</main>

{% include footer.html %}
