{% include header.html %}

<main{% if page.slug %} class="{{ page.slug }}"{% elsif page.title %} class="{{ page.title | slugify }}"{% endif %} role="main">

  <div class="single-column blog-index">

    <section class="summary">
      <div class="summary__list summary-list">
        {% for post in paginator.posts %}
          {% assign cat = post.category | downcase %}
          {% assign category = site.data.category.categories[cat] %}
          {% if post.image %}
            {% assign image = post.image %}
          {% else %}
            {% assign image = category.image %}
          {% endif %}

          <a class="summary-list__link summary-list__item" href="{{ post.url }}">
            <div class="summary-list__image-container">

              <div class="summary-list__image{% if post.category %} summary-list__image--{{
                  post.category | downcase }}{% endif %}"
                style="background-image:
                url({{ image }});"></div>
            </div>

            <div class="summary-list__content">
              <header class="summary-list__header">
                {% if post.tags %}
                  <p class="summary-list__categories">{{ post.tags | join: ', ' }}</p>
                {% endif %}
                <h2 class="summary-list__title">{{ post.title }}</h2>
              </header>

              <p class="summary-list__excerpt">
                {{ post.content | strip_html | truncatewords: 15 }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div> 
    </section>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.next_page %}
      <div class="pagination__link">
        <a class="pagination__link--previous"
           href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          &larr; Previous page
        </a>
      </div>
      {% endif %}

      {% if paginator.previous_page %}
      <div class="pagination__link">
        <a class="pagination__link--next"
           href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          Next page &rarr;
        </a>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>

  
</main>

{% include footer.html %}
