{% include header.html %}

<main{% if page.slug %} class="{{ page.slug }}"{% elsif page.title %} class="{{
page.title | slugify }}"{% endif %} role="main">
	<div class="single-column">

		{% if site.work.size > 0 %}
		<section class="summary">
			<h2 id="case-studies" class="summary__title">Case studies</h2>
    	<p class="summary__intro">
				I've been a web developer professionally working on various parts of the stack for over 3 years, and unofficially for much longer. Here is a sample of some of my more recent work.
    	</p>
			<ul class="summary__list summary-list summary-list--work">
				{% for post in site.work %}
				<li class="summary-list__item summary-list__item--work" data-image="{{ site.baseurl }}/img/work/{{ post.title | slugify }}/{{ post.image }}">
					<a class="summary-list__link" href="{{ post.url }}">
						<h4 class="summary-list__title">{{ post.title }}</h4>
						<h5 class="summary-list__categories">{{ post.categories | join: ', ' }}</h5>
						<p class="summary-list__description">
							{{ post.description }}
						</p>
					</a>
				</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}

		{% if site.github.public_repositories.size > 0 %}
  	<section class="summary">
			<h2 id="open-source" class="summary__title">Works in progress</h2>
    	<p class="summary__intro">
				As the title says, these are some open source works in progress I've been hacking on over the years. Some were build to fulfill needs in my daily work life, others were made to scratch an itch, and most were initially created to learn more about a particular tool or concept.
    	</p>
			<svg aria-hidden="true" id="octicon" class="octicon octicon--github" height="32" version="1.1" viewBox="0 0 16 16" width="32">
				<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
			</svg>
  	<ul class="summary__list github-projects">
			{% assign repositories = site.github.public_repositories | sort: 'updated_at' %}
			{% for repo in repositories %}
			{% if repo.fork == false %}
			<li>
				<a class="github-project {{ repo.language | downcase }}" href="{{ repo.html_url }}" target="_blank">
					<div class="github-project__info">
						<h4>{{ repo.name }}</h4>
						<p class="description">
						{{ repo.description }}
						</p>
					</div>
					<div class="github-project__stats">
						<div class="stat">
							<h4>Language</h4>
							<p>
							{{ repo.language }}
							</p>
						</div>
					</div>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
  	</section>

	</div>
</main>

{% include footer.html %}
