{% include header.html %}

<main{% if page.slug %} class="{{ page.slug }}"{% elsif page.title %} class="{{
page.title | slugify }}"{% endif %} role="main">
  <div class="single-column work">
    <header class="header">
      <h1 class="header__title">{{ page.title }}</h1>
      <p class="header__categories">{{ page.categories | join: ', ' }}</p>
      <h2 class="header__description">{{ page.description }}</h2>

      {% if page.technology %}
      <div class="header__metadata">
        <h3 class="header__metadata-title">Technology</h3>
        <ul class="header__metadata-list">
          {% for link in page.technology %}
          <li>
            {% if link.url %}
            <a href="{{ link.url }}" target="_blank">
            {% endif %}
              {{ link.name }}
            {% if link.url %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if page.links %}
      <div class="header__metadata">
        <h3 class="header__metadata-title">Links</h3>
        <ul class="header__metadata-list">
          {% for link in page.links %}
          <li>
            {% if link.url %}
            <a href="{{ link.url }}" target="_blank">
            {% endif %}
              {{ link.name }}
            {% if link.url %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </header>

    <section class="content">
      {{ content }}
    </section>
  </div>
</main>

{% if page.previous.url && page.next.url %}
<nav id="pagination" class="pagination pagination__static">
	{% if page.previous.url %}
	<a class="pagination__static--left hidden" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
		<span class="pagination__static--title">{{ page.previous.title }}</span><span class="pagination__static--arrow-left">&larr;</span>
	</a>
	{% endif %}

	{% if page.next.url %}
	<a class="pagination__static--right hidden" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
		<span class="pagination__static--arrow-right">&rarr;</span><span class="pagination__static--title">{{ page.next.title }}</span>
	</a>
	{% endif %}
</nav>
{% endif %}

{% include footer.html %}
