// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * .875;
  line-height: $line-height-base;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  transition: opacity 1.5s linear;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 480px) {
    font-size: $font-size-base;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  line-height: $line-height-header;
}

h1 {
  size: $font-size-h1;
}

h2 {
  size: $font-size-h2;
}

h3 {
  size: $font-size-h3;
}

h4 {
  size: $font-size-h4;
}

h5 {
  size: $font-size-h5;
}

h6 {
  size: $font-size-h6;
}

p {
  color: $text-color;
  font-family: $font-family-sans-serif;
  line-height: 1.45;
  size: $font-size-base;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 300ms ease-in-out;

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:focus {
    color: $link-focus-color;
  }
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

pre,
code {
  font-family: $font-family-monospace;
  font-size: $font-size-base * .8;
}

pre {
  border: 2px solid $link-water;
  border-radius: $border-radius;
  margin: 2rem 0;
  padding: 1.5rem;
  position: relative;
}

code {
  padding: 1px 3px;
}

p > code,
span > code,
li > code {
  background: darken($body-bg, 5%);
}

img {
  max-width: 100%;
  margin: 2rem 0;
}
