  <footer class="application-footer">
    <nav class="application-footer__links">
      <ul class="navigation-groups">
        <li class="navigation-group">
          <h3 class="navigation-group__title">Work</h3>
          <ul class="navigation-group__list">
            <li><a href="{{ site.baseurl }}/work/#open-source">Open Source</a></li>
          </ul>
        </li>
        <li class="navigation-group">
          <h3 class="navigation-group__title">Learn</h3>
          <ul class="navigation-group__list">
            <li><a href="{{ '/blog/' | prepend: site.baseurl }}" target="_blank">Blog</a></li>
          </ul>
        </li>
        <li class="navigation-group">
          <h3 class="navigation-group__title">Contact</h3>
          <ul class="navigation-group__list">
            <li><a href="mailto:me@dstrunk.com">me@dstrunk.com</a></li>
            <li><a href="//github.com/dstrunk" target="_blank">GitHub</a></li>
            <li><a href="//twitter.com/dstrunk" target="_blank">Twitter</a></li>
            <li><a href="//linkedin.com/in/dstrunk" target="_blank">LinkedIn</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src='{{ "/js/app.js" | prepend: site.baseurl }}'></script>

  {% if page.layout == 'blog/show' || page.layout == 'work/show' %}
    <script src='{{ "/js/shared/show.js" | prepend: site.baseurl }}'></script>
  {% endif %}

  {% if page.custom_js %}
    {% for js in page.custom_js %}
      <script src="/js/{{ js | prepend: site.baseurl }}"></script>
    {% endfor %}
  {% endif %}
</body>
</html>
