<nav class="application-header__nav">
  <ul class="application-header__list">
    <li class="application-header__list-item">
      <a class="application-header__link" href="/">Home</a>
    </li>
    <li class="application-header__list-item">
      <a class="application-header__link" href="/work">Work</a>
    </li>
    <li class="application-header__list-item">
      <a class="application-header__link" href="/blog">Blog</a>
    </li>
    <li class="application-header__list-item">
      <a class="application-header__link" href="mailto:hello@danielstrunk.me">Email</a>
    </li>
  </ul>
</nav>
