    <header>

      {% if page.layout == 'blog/index' %}
        <a href="{{ include.target.url }}">
      {% endif %}

      <h2 class="post-meta__header">
        {{ include.target.title }}
      </h2>

      {% if page.layout == 'blog/index' %}
        </a>
      {% endif %}

      <div class="post-meta__container">
        <span class="post-meta__date">{{ include.target.date | date: '%B %d, %Y' }}</span>
        {% if include.target.description.size %}
        &mdash;
        <span class="post-meta__description">{{ include.target.description }}</span>
        {% endif %}
      </div>

      {% if include.target.tags != empty %}
      <strong>Tags:</strong>
      <ul class="post-meta__tag-list">
        {% for tag in include.target.tags %}
        <li class="post-meta__tag">{{ tag }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </header>
