$github-background: darken($fuscous-grey, 15%);
$github-text-primary-color: #fff;
$github-text-secondary-color: darken($github-text-primary-color, 40%);

$languages: (viml: #199f4b,
       css: #563d7c,
       ruby: #6f1516,
       shell: #88de50,
       php: #4a578c,
       javascript: #f1e05a,
       elixir: #6b487b);

.github-projects {
  margin-top: 3rem;
  padding: 0;

  @media screen and (min-width: 870px) {
    margin-left: -12.5%;
    width: 125%;
  }

  li {
    @include span-columns(12);
    padding-left: 0;
    font-size: 0.875rem;

    @media screen and (min-width: 870px) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

.github-project {
  @extend %border-radius;

  background-color: $github-background;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  transition: transform 0.1s, -webkit-transform 0.1s, box-shadow 0.1s;

  &:active,
  &:visited {
    border-bottom: 0 solid transparent;
  }

  &:hover,
  &:focus {
    @extend %box-shadow;
    border-bottom: 0 solid transparent;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }

  &__info {
  flex-grow: 1;
  padding: 1.5rem;

    h4 {
      color: $github-text-primary-color;
      font-size: 0.95rem;
      margin-bottom: 0;
      margin-top: 0.5rem;
    }

    .description {
      color: $github-text-secondary-color;
      margin-bottom: 0.25rem;
      margin-top: .35rem;
    }
  }

  @each $lang, $color in $languages {
    &.#{$lang} {
      border-left: 4px solid #{$color};
    }
  }
}

.github-project__stats {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 1.4;
  text-align: center;

  .stat {
    padding: 0 1.25rem;
    -webkit-box-align: center;
    -ms-flex-design: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    h4 {
      color: $github-text-secondary-color;
      font-size: .65rem;
      letter-spacing: 1px;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    p {
      color: $github-text-primary-color;
      margin-top: .35rem;
    }
  }
}
