.post-meta {
  &__header {
    margin-bottom: 0.85rem; 
  }

  &__date {
    display: inline-block;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__description {
    display: inline-block;
    font-style: italic;
  }

  &__tag-list {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  &__tag {
    display: inline-block;

    &:after {
      content: ',';
    }

    &:last-child:after {
      content: '';
    }
  }
}
