.search {
  @extend %border-radius;
  @extend %box-shadow;

  background: #fff; 
  display: none;
  margin-bottom: 5rem;
  padding: 1.25rem 1.25rem 3rem 1.25rem;

  @media screen and (min-width: 870px) {
    display: block;
  }

  h2 {
    color: $header-color;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
  }

  p {
    padding-bottom: 1rem;
  }

  &__container {
    width: 100%;
    display: flex;
  }

  &__input {
    @extend %border-radius;

    border: 1px solid lighten($fuscous-grey, 50%);
    flex: 4;
    padding: 1px 5px;
  }

  &__button {
    @extend %border-radius;

    background: $link-color;
    border: 0;
    color: #fff;
    flex: 1;
    margin: 0 0 0 1rem;
    padding: 2px 8px;
  }
}
