.summary-list {
  padding: 0;

  &--work {
    @media screen and (min-width: 870px) {
      margin-left: -12.5%;
      width: 125%;
    }
  }

  &__header {
    &::after {
      content: "\2014";
      display: block;
      font-size: 1rem;
      font-style: italic;
      font-weight: 500;
    }
  }

  &__item {
    padding: 0;
    margin-bottom: 5rem;

    &--work {
      @extend %border-radius;
      @extend %box-shadow;
      @include span-columns(12);

      background: #fff; 
      margin-bottom: 1.5rem;
      padding: 1.25rem;

      @media screen and (min-width: 870px) {
        @include span-columns(6);
        @include omega(2n);
      }
    }
  }

  &__link {
  }

  &__title {
    color: $header-color;
    font-size: 2rem;
    line-height: 1.9rem;
    margin-bottom: 0.25rem;
    margin-top: 0;
  }

  &__categories {
    color: $highlight-color;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
  }

  &__description {
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__date {
    font-size: 80%;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__more-link {
  }
}
