.summary {
  @include clearfix;
  margin-bottom: 3rem;

  &::last-child {
    margin-bottom: 0;
  }

  &__title,
  &__intro {
    text-align: center;
  }

  &__list {
    list-style: none;
  }
}

.octicon {
  display: block;
  margin: 0 auto;
}
