{% include header.html %}

<main{% if page.slug %} class="{{ page.slug }}"{% elsif page.title %} class="{{
page.title | slugify }}"{% endif %} role="main">
  <section class="intro">
    {{ content }}
  </section>

  <section class="work">
    <h2>Recent work</h2>
    <p>Occasionally I'll craft something I'm proud of. Check out some things
    I've been working on, or visit the <a href="{{ '/work' | prepend:
    site.baseurl }}">portfolio</a> for a better understanding of my process.</p>
  </section>

  <section class="blog">
    <h2>Recent blog posts</h2>
    <p>Here are some of my most recent posts. Click below if any interest you,
    or check out the <a href="{{ '/blog' | prepend: site.baseurl }}">blog</a>
    for more content:</p>
    <ul>
      {% for post in site.posts limit: 5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
</main>

{% include footer.html %}
