{% include head.html %}
{% include header.html %}

<main id="app" class="container mx-auto px-4">
    <h1 class="mb-1">{{ page.title }}</h1>
    <span class="time mb-8">
        Originally posted on
        <time datetime="{{ post.date }}">
            {{ page.date | date: "%b %d, %Y" }}
        </time>
    </span>

    <div class="w-full md:w-2/3">
        {{ content }}
    </div>

    <div class="row flex flex-row justify-between border-t border-grey-light mt-8 pt-8">
        <div class="comments">
            Comments? I'm <a href="//twitter.com/dstrunk" target="_blank">@dstrunk</a> on Twitter.
        </div>
    </div>
</main>

{% include footer.html %}
